<ng-container *ngIf="course">
  <div class="w-[80vw] mx-auto text-slate-700 py-8">
    <div class="text-4xl py-2">{{ course.title }}</div>
    <div class="text-xl py-2">{{ course.description }}</div>
    <div class="container">
      <div class="book-wrap-flex">
        <div class="book-wrap-poster course-page-poster"></div>
        <div class="book-wrap-content">
          <div class="flex gap-2 flex-col text-xl">
            <ngx-stars
              [readonly]="true"
              [initialStars]="course.rating"
              customSize="1.25rem"
              class=""
            ></ngx-stars>
            <div class="flex items-center gap-2">
              <mat-icon aria-hidden="false" aria-label="Example home icon"
                >timer</mat-icon
              >
              Duration:
              <span class="font-semibold">{{ course.duration | time }}</span>
            </div>

            <div class="flex items-center gap-2">
              Number of lessons:
              <mat-icon aria-hidden="false" aria-label="Example home icon"
                >looks_{{ course.lessons.length }}</mat-icon
              >

              video
            </div>

            <div class="flex items-center gap-2">
              <mat-icon aria-hidden="false" aria-label="Example home icon">
                calendar_month</mat-icon
              >
              Launch date:
              <span class="font-semibold">{{
                course.launchDate | date : "shortDate"
              }}</span>
            </div>
          </div>
        </div>
      </div>

      <div class="text-xl font-semibold py-5">{{ lessonTitle }}</div>
      <div class="player-box basis-[80wv] flex flex-col gap-2 xl:flex-row">
        <div id="player" class="flex-2 shadow-lg">
          <app-video-player
            [posterSrc]="posterSrc"
            [videoSrc]="videoSrc"
            [lessonId]="lessonId"
          ></app-video-player>
        </div>

        <div class="flex-1 min-w-[250px]">
          <ul id="lessons-list" class="flex flex-col lessons-list gap-2">
            <li
              (click)="setLessonData(lesson)"
              class="lessons-item cursor-pointer pointer-events-none bg-slate-100 shadow-lg p-2 flex flex-col gap-2 justify-between"
              [ngClass]="{
                'pointer-events-none': lesson.status === 'locked',
                'bg-slate-300': lesson.order === currentLessonId
              }"
              data-index="1"
              *ngFor="let lesson of sortedLessons"
            >
              <div class="lessons-head flex justify-between">
                <span>Lesson {{ lesson.order }}.</span>
                <span> {{ lesson.duration | time }}</span>
              </div>
              <div class="font-semibold text-sm">{{ lesson.title }}</div>
              <div class="flex justify-between items-center">
                <span> Lesson status: {{ lesson.status }} </span>
                <span>
                  <ng-container *ngIf="lesson.status === 'locked'">
                    <mat-icon
                      aria-hidden="false"
                      aria-label="Example home icon"
                    >
                      lock</mat-icon
                    ></ng-container
                  >
                  <ng-container *ngIf="lesson.status === 'unlocked'">
                    <mat-icon
                      aria-hidden="false"
                      aria-label="Example home icon"
                    >
                      <span class="material-symbols-outlined">
                        lock_open
                      </span></mat-icon
                    ></ng-container
                  >
                </span>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</ng-container>
