<a
  class="fill relative flex max-w-[364px] flex-col overflow-hidden rounded-[16px] justify-self-center"
  href="/my-courses/3b77ceb6-fb43-4cf5-a25b-8fe9222a0714"
  style="
    box-shadow: rgba(24, 39, 75, 0.12) 0px 8px 18px -6px,
      rgba(24, 39, 75, 0.12) 0px 12px 42px -4px;
  "
  ><div
    class="absolute top-0 right-0 rounded-bl-[12px] px-5 py-1 text-[12px] font-[600] leading-[16px] bg-[#EA552B] text-white"
  >
    course
  </div>
  <picture class="image_container__7921w h-[160px] w-auto"
    ><source
      srcset="
        https://wisey.app/assets/images/web/course-covers/the-power-of-self-discipline-how-to-stay-on-track/cover.webp
      "
      type="image/webp" />
    <source
      srcset="
        https://wisey.app/assets/images/web/course-covers/the-power-of-self-discipline-how-to-stay-on-track/cover.png
      "
      type="image/png" />
    <img
      class=""
      src="https://wisey.app/assets/images/web/course-covers/the-power-of-self-discipline-how-to-stay-on-track/cover.webp"
      alt="course-img"
  /></picture>
  <div class="flex flex-[3_0] flex-col p-[25px_24px_32px]">
    <h5
      class="min-h-[42px] flex-[2_0_auto] text-left text-[18px] leading-[22px]"
    >
      The Power of Self-Discipline: How to Stay on Track
    </h5>
    <p
      class="mt-3 min-h-[60px] flex-[2_0_auto] text-left text-[14px] font-[400] leading-[20px]"
    >
      Find the inner strength to overcome procrastination and reach your goals.
    </p>
    <div class="mt-3 h-[1px] bg-[#D5D7DD]"></div>
    <div class="mt-4 flex items-center justify-between">
      <div
        class="flex max-h-[24px] items-center justify-center border-[1px] border-solid py-1 px-2 text-[12px] leading-[16px] font-[500] capitalize rounded-[4px]"
        style="border-color: rgb(234, 85, 43); color: rgb(234, 85, 43)"
      >
        productivity
      </div>
      <ul class="rating_container__J5VS_ my-0"></ul>
      <div class="rounded bg-[#FCC75F] px-2 py-1 text-xs font-medium uppercase">
        New
      </div>
    </div>
  </div></a
>
