<a
  class="fill relative flex max-w-full h-full flex-col overflow-hidden rounded-xl justify-self-center"
  [routerLink]="course.id"
  style="
    box-shadow: rgba(24, 39, 75, 0.12) 0px 8px 18px -6px,
      rgba(24, 39, 75, 0.12) 0px 12px 42px -4px;
  "
  ><div
    class="absolute top-0 right-0 rounded-bl-[12px] px-5 py-1 text-[12px] font-[600] leading-[16px] bg-[#EA552B] text-white"
  >
    {{ course.status }}
  </div>
  <!-- <video
    [poster]="course.previewImageLink + '/cover.webp'"
    id="videoPlayer"
    controls
    class="videoCentered"
    style="width: 80%"
  ></video> -->
  <app-video-player
    [isHovering]="true"
    class="h-auto min-h-[210px] w-full"
    [posterSrc]="course.previewImageLink + '/cover.webp'"
    [videoSrc]="course.meta.courseVideoPreview.link"
  ></app-video-player>
  <!-- <picture class="image_container__7921w h-auto w-auto">
    <source
      [srcset]="course.previewImageLink + '/cover.webp'"
      type="image/webp"
    />
    <source
      [srcset]="course.previewImageLink + '/cover.png'"
      type="image/png"
    />
    <img
      class=""
      [src]="course.previewImageLink + '/cover.webp'"
      alt="course-img"
    />
  </picture> -->
  <div class="flex flex-[3_0] flex-col p-[25px_24px_32px]">
    <h5 class="min-h-[42px] flex-[2_0_auto] text-left font-semibold text-2xl">
      {{ course.title }}
    </h5>
    <p
      class="mt-3 min-h-[60px] flex-[2_0_auto] text-left text-xl leading-[20px]"
    >
      {{ course.description }}
    </p>
    <div class="mt-3 flex flex-col text-left text-lg font-bold">
      <p class="self-start">Rating: {{ course.rating }}</p>
      <ngx-stars
        [readonly]="true"
        [initialStars]="course.rating"
        customSize="1.25rem"
        class=""
      ></ngx-stars>
    </div>
    <p class="mt-3 flex-[2_0_auto] text-left text-lg font-bold">
      Number of lessons: {{ course.lessonsCount }}
    </p>
    <div class="mt-3 flex-[2_0_auto] text-left text-lg font-bold">
      Skills:
      <ul>
        <li
          *ngFor="let skill of course.meta.skills; let i = index"
          class="font-normal"
        >
          <p>
            <span class="text-violet-800">{{ i + 1 }} </span>{{ skill }}
          </p>
        </li>
      </ul>
    </div>
  </div>
</a>
